<body>
    <br>
    <h3>Tasks For Michael:</h3>
    <div class="d">
        <ul type="none">
            <li class="li" *ngFor=" let task of taskList">
                <h3> <a class="link" [routerLink]="['/taskid', task.id]">{{task.name}}</a></h3>
                <button class="btn" (click)="onClickDelete(task.id)">Delete this task?</button>
            </li>
        </ul>
    </div>
    <div>
        <h3>Create a New Task</h3>
        <form #myForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
            <label for='name'>Name:</label>
            <br>
            <input for='name' id='name' placeholder='Name' name='name' required [(ngModel)]='task.name' />
            <br>
            <label for='time'>Estimated time to complete:</label>
            <br>
            <input for='Time' id='time' placeholder='Time' name='time' required [(ngModel)]='task.timeToComplete' />
            <br>
            <label for='description'>Description of task:</label>
            <br>
            <input for='description' id='description' placeholder='Description' name='description' required
                [(ngModel)]='task.description' />
            <br>
            <label for='itemsNeeded'>Items Needed to complete task:</label>
            <br>
            <textarea for='itemsNeeded' id='itemsNeeded' placeholder='Items' name='itemsNeeded' required
                [(ngModel)]='task.itemsNeeded'></textarea>
            <br>
            <button class="btn" type='submit'>Submit</button>
        </form>
    </div>

</body>